body {
	font-family: 'Francois One', sans-serif;
}

input:invalid {
	border: 1px solid red;
}

input:valid {
	border: 1px solid green;
}

div {
	display: flex;
	filter: grayscale(50%); /* FF 35+ */
}
